# Ignore everything
*


# But not these files...
!.gitignore
!asl/exam1tests.sh
!asl/check-examples.sh
!asl/Makefile
!asl/main.cpp
!asl/asl.g4
!asl/SymbolsVisitor.cpp
!asl/SymbolsVisitor.h
!asl/TypeCheckVisitor.cpp
!asl/TypeCheckVisitor.h
!asl/CodeGenVisitor.cpp
!asl/CodeGenVisitor.h
